[submodule "Backend"]
	path = Backend
	url = https://gitlab-stud.elka.pw.edu.pl/paint24z/Backend.git
[submodule "Frontend"]
	path = Frontend
	url = https://gitlab-stud.elka.pw.edu.pl/paint24z/Frontend.git
[submodule "Database"]
	path = Database
	url = https://gitlab-stud.elka.pw.edu.pl/paint24z/Database.git
