[submodule "Backend"]
	path = Backend
	url = https://github.com/matibbb232/paint24z-backend
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/matibbb232/paint24z-frontend
[submodule "Database"]
	path = Database
	url = https://github.com/matibbb232/paint24z-database
